In [2]:
#Import dependencies
import pandas as pd

In [3]:
#Read CSV files into dataframes
df_2023_10 = pd.read_csv('Resources/JC-202310-citibike-tripdata.csv')
df_2023_11 = pd.read_csv('Resources/JC-202311-citibike-tripdata.csv')
df_2023_12 = pd.read_csv('Resources/JC-202312-citibike-tripdata.csv')

In [5]:
#Check first DF for missing values
df_2023_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97584 entries, 0 to 97583
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97584 non-null  object
 1   rideable_type       97584 non-null  object
 2   started_at          97584 non-null  object
 3   ended_at            97584 non-null  object
 4   start_station_name  97579 non-null  object
 5   start_station_id    97579 non-null  object
 6   end_station_name    97207 non-null  object
 7   end_station_id      97207 non-null  object
 8   start_lat           97584 non-null  float64
 9   start_lng           97584 non-null  float64
 10  end_lat             97497 non-null  float64
 11  end_lng             97497 non-null  float64
 12  member_casual       97584 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.7+ MB

In [15]:
#start_station_name and start_station_id are missing 5 rows
#end_station_name and end_station_id are missing 377 rows
#end_lat and end_lng are missing 87 rows

#Drop any NA values from the DF and store in a new cleaned DF
cleaned_df_2023_10 = df_2023_10.dropna(axis = 0, how = 'any')

In [16]:
#Check cleaned DF to ensure no more missing values
cleaned_df_2023_10.info()
#380 rows removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97204 entries, 0 to 97583
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97204 non-null  object
 1   rideable_type       97204 non-null  object
 2   started_at          97204 non-null  object
 3   ended_at            97204 non-null  object
 4   start_station_name  97204 non-null  object
 5   start_station_id    97204 non-null  object
 6   end_station_name    97204 non-null  object
 7   end_station_id      97204 non-null  object
 8   start_lat           97204 non-null  float64
 9   start_lng           97204 non-null  float64
 10  end_lat             97204 non-null  float64
 11  end_lng             97204 non-null  float64
 12  member_casual       97204 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.4+ MB

In [18]:
#Check second DF
df_2023_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75646 entries, 0 to 75645
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             75646 non-null  object
 1   rideable_type       75646 non-null  object
 2   started_at          75646 non-null  object
 3   ended_at            75646 non-null  object
 4   start_station_name  75637 non-null  object
 5   start_station_id    75637 non-null  object
 6   end_station_name    75407 non-null  object
 7   end_station_id      75407 non-null  object
 8   start_lat           75646 non-null  float64
 9   start_lng           75646 non-null  float64
 10  end_lat             75615 non-null  float64
 11  end_lng             75615 non-null  float64
 12  member_casual       75646 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.5+ MB

In [21]:
#start_station_name and start_station_id are missing 9 rows
#end_station_name and end_station_id are missing 239 rows
#end_lat and end_lng are missing 31 rows

#Drop any null rows and save as new cleaned DF
cleaned_df_2023_11 = df_2023_11.dropna(axis = 0, how = 'any')

In [22]:
#Check cleaned DF
cleaned_df_2023_11.info()
#246 rows removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75400 entries, 0 to 75645
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             75400 non-null  object
 1   rideable_type       75400 non-null  object
 2   started_at          75400 non-null  object
 3   ended_at            75400 non-null  object
 4   start_station_name  75400 non-null  object
 5   start_station_id    75400 non-null  object
 6   end_station_name    75400 non-null  object
 7   end_station_id      75400 non-null  object
 8   start_lat           75400 non-null  float64
 9   start_lng           75400 non-null  float64
 10  end_lat             75400 non-null  float64
 11  end_lng             75400 non-null  float64
 12  member_casual       75400 non-null  object
dtypes: float64(4), object(9)
memory usage: 8.1+ MB

In [24]:
#Check third DF
df_2023_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58680 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             58680 non-null  object
 1   rideable_type       58680 non-null  object
 2   started_at          58680 non-null  object
 3   ended_at            58680 non-null  object
 4   start_station_name  58676 non-null  object
 5   start_station_id    58676 non-null  object
 6   end_station_name    58441 non-null  object
 7   end_station_id      58441 non-null  object
 8   start_lat           58680 non-null  float64
 9   start_lng           58680 non-null  float64
 10  end_lat             58638 non-null  float64
 11  end_lng             58638 non-null  float64
 12  member_casual       58680 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.8+ MB

In [27]:
#start_station_name and start_station_id are missing 4 rows
#end_station_name and end_station_id are missing 239 rows
#end_lat and end_lng are missing 42 rows

#Drop any null rows and save as new cleaned DF
cleaned_df_2023_12 = df_2023_12.dropna(axis = 0, how = 'any')

In [28]:
#Check cleaned DF
cleaned_df_2023_12.info()
#242 rows removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58438 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             58438 non-null  object
 1   rideable_type       58438 non-null  object
 2   started_at          58438 non-null  object
 3   ended_at            58438 non-null  object
 4   start_station_name  58438 non-null  object
 5   start_station_id    58438 non-null  object
 6   end_station_name    58438 non-null  object
 7   end_station_id      58438 non-null  object
 8   start_lat           58438 non-null  float64
 9   start_lng           58438 non-null  float64
 10  end_lat             58438 non-null  float64
 11  end_lng             58438 non-null  float64
 12  member_casual       58438 non-null  object
dtypes: float64(4), object(9)
memory usage: 6.2+ MB