In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Read CSV files into dataframes
df_2023_10 = pd.read_csv('Resources/JC-202310-citibike-tripdata.csv')
df_2023_11 = pd.read_csv('Resources/JC-202311-citibike-tripdata.csv')
df_2023_12 = pd.read_csv('Resources/JC-202312-citibike-tripdata.csv')

In [17]:
#Check first DF for missing values
df_2023_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97584 entries, 0 to 97583
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97584 non-null  object
 1   rideable_type       97584 non-null  object
 2   started_at          97584 non-null  object
 3   ended_at            97584 non-null  object
 4   start_station_name  97579 non-null  object
 5   start_station_id    97579 non-null  object
 6   end_station_name    97207 non-null  object
 7   end_station_id      97207 non-null  object
 8   start_lat           97584 non-null  float64
 9   start_lng           97584 non-null  float64
 10  end_lat             97497 non-null  float64
 11  end_lng             97497 non-null  float64
 12  member_casual       97584 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.7+ MB

In [18]:
#start_station_name and start_station_id are missing 5 rows
#end_station_name and end_station_id are missing 377 rows
#end_lat and end_lng are missing 87 rows

#Drop any NA values from the DF and store in a new cleaned DF
cleaned_df_2023_10 = df_2023_10.dropna(axis = 0, how = 'any')

In [19]:
#Check cleaned DF to ensure no more missing values
cleaned_df_2023_10.info()
#380 rows removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97204 entries, 0 to 97583
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97204 non-null  object
 1   rideable_type       97204 non-null  object
 2   started_at          97204 non-null  object
 3   ended_at            97204 non-null  object
 4   start_station_name  97204 non-null  object
 5   start_station_id    97204 non-null  object
 6   end_station_name    97204 non-null  object
 7   end_station_id      97204 non-null  object
 8   start_lat           97204 non-null  float64
 9   start_lng           97204 non-null  float64
 10  end_lat             97204 non-null  float64
 11  end_lng             97204 non-null  float64
 12  member_casual       97204 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.4+ MB

In [6]:
#Check second DF
df_2023_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75646 entries, 0 to 75645
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             75646 non-null  object
 1   rideable_type       75646 non-null  object
 2   started_at          75646 non-null  object
 3   ended_at            75646 non-null  object
 4   start_station_name  75637 non-null  object
 5   start_station_id    75637 non-null  object
 6   end_station_name    75407 non-null  object
 7   end_station_id      75407 non-null  object
 8   start_lat           75646 non-null  float64
 9   start_lng           75646 non-null  float64
 10  end_lat             75615 non-null  float64
 11  end_lng             75615 non-null  float64
 12  member_casual       75646 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.5+ MB

In [7]:
#start_station_name and start_station_id are missing 9 rows
#end_station_name and end_station_id are missing 239 rows
#end_lat and end_lng are missing 31 rows

#Drop any null rows and save as new cleaned DF
cleaned_df_2023_11 = df_2023_11.dropna(axis = 0, how = 'any')

In [8]:
#Check cleaned DF
cleaned_df_2023_11.info()
#246 rows removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75400 entries, 0 to 75645
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             75400 non-null  object
 1   rideable_type       75400 non-null  object
 2   started_at          75400 non-null  object
 3   ended_at            75400 non-null  object
 4   start_station_name  75400 non-null  object
 5   start_station_id    75400 non-null  object
 6   end_station_name    75400 non-null  object
 7   end_station_id      75400 non-null  object
 8   start_lat           75400 non-null  float64
 9   start_lng           75400 non-null  float64
 10  end_lat             75400 non-null  float64
 11  end_lng             75400 non-null  float64
 12  member_casual       75400 non-null  object
dtypes: float64(4), object(9)
memory usage: 8.1+ MB

In [9]:
#Check third DF
df_2023_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58680 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             58680 non-null  object
 1   rideable_type       58680 non-null  object
 2   started_at          58680 non-null  object
 3   ended_at            58680 non-null  object
 4   start_station_name  58676 non-null  object
 5   start_station_id    58676 non-null  object
 6   end_station_name    58441 non-null  object
 7   end_station_id      58441 non-null  object
 8   start_lat           58680 non-null  float64
 9   start_lng           58680 non-null  float64
 10  end_lat             58638 non-null  float64
 11  end_lng             58638 non-null  float64
 12  member_casual       58680 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.8+ MB

In [10]:
#start_station_name and start_station_id are missing 4 rows
#end_station_name and end_station_id are missing 239 rows
#end_lat and end_lng are missing 42 rows

#Drop any null rows and save as new cleaned DF
cleaned_df_2023_12 = df_2023_12.dropna(axis = 0, how = 'any')

In [11]:
#Check cleaned DF
cleaned_df_2023_12.info()
#242 rows removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58438 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             58438 non-null  object
 1   rideable_type       58438 non-null  object
 2   started_at          58438 non-null  object
 3   ended_at            58438 non-null  object
 4   start_station_name  58438 non-null  object
 5   start_station_id    58438 non-null  object
 6   end_station_name    58438 non-null  object
 7   end_station_id      58438 non-null  object
 8   start_lat           58438 non-null  float64
 9   start_lng           58438 non-null  float64
 10  end_lat             58438 non-null  float64
 11  end_lng             58438 non-null  float64
 12  member_casual       58438 non-null  object
dtypes: float64(4), object(9)
memory usage: 6.2+ MB

In [20]:
final_cleaned_df = pd.concat([cleaned_df_2023_10, cleaned_df_2023_11, cleaned_df_2023_12], axis = 0)
final_cleaned_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,56269E94B2206375,classic_bike,2023-10-31 11:52:42,2023-10-31 12:03:33,McGinley Square,JC055,Marin Light Rail,JC013,40.725340,-74.067622,40.714584,-74.042817,member
1,2B2F6514026F5C68,classic_bike,2023-10-16 08:24:33,2023-10-16 08:35:28,Astor Place,JC077,Grove St PATH,JC115,40.719299,-74.071357,40.719410,-74.043090,member
2,3716C0E2166FE548,classic_bike,2023-10-21 11:46:26,2023-10-21 11:56:30,McGinley Square,JC055,Grove St PATH,JC115,40.725428,-74.067577,40.719410,-74.043090,member
3,E06BF0A228598DDF,classic_bike,2023-10-26 09:42:42,2023-10-26 09:51:28,Astor Place,JC077,Marin Light Rail,JC013,40.719267,-74.071328,40.714584,-74.042817,member
4,1EA3E3FFB17B6B16,classic_bike,2023-10-22 13:20:54,2023-10-22 15:00:09,McGinley Square,JC055,Grove St PATH,JC115,40.725340,-74.067622,40.719410,-74.043090,casual

In [26]:
#Convert started_at and ended_at columns to datetime object
final_cleaned_df['started_at'] = pd.to_datetime(final_cleaned_df['started_at'], format = '%Y-%m-%d %H:%M:%S')
final_cleaned_df['ended_at'] = pd.to_datetime(final_cleaned_df['ended_at'], format = '%Y-%m-%d %H:%M:%S')

In [32]:
#Import datetime module
import datetime as dt

In [42]:
#Calculate the ride length (in minutes) from the started_at and ended_at timestamps (now converted to datetime objects)
final_cleaned_df['ride_duration'] = round((final_cleaned_df['ended_at'] - final_cleaned_df['started_at']).dt.total_seconds() / 60, 2)

In [45]:
#Reorder columns
final_cleaned_df = final_cleaned_df[['ride_id', 'rideable_type', 'started_at', 'ended_at', 'ride_duration',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]

In [46]:
#Check DF to make sure ride_duration column was added and columns were reordered
final_cleaned_df.head()

,ride_id,rideable_type,started_at,ended_at,ride_duration,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,56269E94B2206375,classic_bike,2023-10-31 11:52:42,2023-10-31 12:03:33,10.85,McGinley Square,JC055,Marin Light Rail,JC013,40.725340,-74.067622,40.714584,-74.042817,member
1,2B2F6514026F5C68,classic_bike,2023-10-16 08:24:33,2023-10-16 08:35:28,10.92,Astor Place,JC077,Grove St PATH,JC115,40.719299,-74.071357,40.719410,-74.043090,member
2,3716C0E2166FE548,classic_bike,2023-10-21 11:46:26,2023-10-21 11:56:30,10.07,McGinley Square,JC055,Grove St PATH,JC115,40.725428,-74.067577,40.719410,-74.043090,member
3,E06BF0A228598DDF,classic_bike,2023-10-26 09:42:42,2023-10-26 09:51:28,8.77,Astor Place,JC077,Marin Light Rail,JC013,40.719267,-74.071328,40.714584,-74.042817,member
4,1EA3E3FFB17B6B16,classic_bike,2023-10-22 13:20:54,2023-10-22 15:00:09,99.25,McGinley Square,JC055,Grove St PATH,JC115,40.725340,-74.067622,40.719410,-74.043090,casual

In [47]:
#Save final DF as CSV
final_cleaned_df.to_csv('Resources/final_citibike_data.csv')

In [69]:
#Drop duplicate start station IDs (keeping the last entry) to extract unique lat/lng combinations
unique_start_lat_lng_df = final_cleaned_df.drop_duplicates(subset = ['start_station_id'], keep = 'last')
unique_start_lat_lng_df.head()

,ride_id,rideable_type,started_at,ended_at,ride_duration,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1588,EB96133584C96B35,classic_bike,2023-10-16 10:40:11,2023-10-16 10:58:27,18.27,6 Ave & W 33 St,6364.07,5 Ave & E 87 St,7323.09,40.736137,-74.029368,40.782323,-73.959875,member
1939,C5B4FEEB1DCDE5D5,classic_bike,2023-10-22 13:17:12,2023-10-22 13:32:27,15.25,Broadway & Morris St,5033.01,Schermerhorn St & Court St,4565.07,40.703625,-74.038484,40.691036,-73.992011,member
2126,F1FEE2A507429576,classic_bike,2023-10-16 12:51:54,2023-10-16 13:01:55,10.02,E 95 St & 3 Ave,7365.13,Adam Clayton Powell Blvd & W 123 St,7704.04,40.736137,-74.029368,40.807832,-73.949373,member
4744,7E2FC22088BEE5FC,classic_bike,2023-10-16 12:24:17,2023-10-16 12:30:23,6.10,5 Ave & E 87 St,7323.09,E 95 St & 3 Ave,7365.13,40.736137,-74.029368,40.784903,-73.950503,member
8765,9CBB8964DDECFDF4,classic_bike,2023-10-24 19:32:47,2023-10-24 20:20:15,47.47,Bleecker St & Crosby St,5679.08,Willoughby Ave & Tompkins Ave,4665.02,40.731447,-74.024346,40.694254,-73.946269,member

In [70]:
#Store only the start lat/lng columns in a new dataframe
unique_start_lat_lng = unique_start_lat_lng_df[['start_lat', 'start_lng']]
unique_start_lat_lng.head()

      start_lat  start_lng
1588  40.736137 -74.029368
1939  40.703625 -74.038484
2126  40.736137 -74.029368
4744  40.736137 -74.029368
8765  40.731447 -74.024346

In [72]:
#Drop duplicate end station IDs (keeping the last entry) to extract unique lat/lng combinations
unique_end_lat_lng_df = final_cleaned_df.drop_duplicates(subset = ['end_station_id'], keep = 'last')
unique_end_lat_lng_df.head()

,ride_id,rideable_type,started_at,ended_at,ride_duration,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1588,EB96133584C96B35,classic_bike,2023-10-16 10:40:11,2023-10-16 10:58:27,18.27,6 Ave & W 33 St,6364.07,5 Ave & E 87 St,7323.09,40.736137,-74.029368,40.782323,-73.959875,member
1696,B838FC2942F55DC8,classic_bike,2023-10-12 17:33:48,2023-10-12 18:35:20,61.53,Bloomfield St & 15 St,HB203,Lexington Ave & E 120 St,7652.04,40.754422,-74.026595,40.801307,-73.939817,member
2126,F1FEE2A507429576,classic_bike,2023-10-16 12:51:54,2023-10-16 13:01:55,10.02,E 95 St & 3 Ave,7365.13,Adam Clayton Powell Blvd & W 123 St,7704.04,40.736137,-74.029368,40.807832,-73.949373,member
3327,05729E85BE8A5C6B,classic_bike,2023-10-01 02:46:55,2023-10-01 04:48:34,121.65,Grant Ave & MLK Dr,JC107,Fulton St & Irving Pl,4263.12,40.709052,-74.080630,40.681860,-73.959432,member
4744,7E2FC22088BEE5FC,classic_bike,2023-10-16 12:24:17,2023-10-16 12:30:23,6.10,5 Ave & E 87 St,7323.09,E 95 St & 3 Ave,7365.13,40.736137,-74.029368,40.784903,-73.950503,member

In [73]:
#Store only the end lat/lng columns in a new dataframe
unique_end_lat_lng = unique_end_lat_lng_df[['end_lat', 'end_lng']]
unique_end_lat_lng.head()

        end_lat    end_lng
1588  40.782323 -73.959875
1696  40.801307 -73.939817
2126  40.807832 -73.949373
3327  40.681860 -73.959432
4744  40.784903 -73.950503

In [77]:
#Concatenate DFs on column axis
unique_lat_lng = pd.concat([unique_start_lat_lng, unique_end_lat_lng], axis = 1)
unique_lat_lng

       start_lat  start_lng    end_lat    end_lng
1588   40.736137 -74.029368  40.782323 -73.959875
1939   40.703625 -74.038484        NaN        NaN
2126   40.736137 -74.029368  40.807832 -73.949373
4744   40.736137 -74.029368  40.784903 -73.950503
8765   40.731447 -74.024346  40.694254 -73.946269
...          ...        ...        ...        ...
58533        NaN        NaN  40.727551 -74.071061
58606        NaN        NaN  40.706575 -74.086701
58650        NaN        NaN  40.749943 -74.035865
58653        NaN        NaN  40.737430 -74.035710
58678        NaN        NaN  40.754530 -74.026580

[377 rows x 4 columns]

In [78]:
#Save new DFs as CSV files
unique_start_lat_lng.to_csv('Resources/start_lat_lng.csv')
unique_end_lat_lng.to_csv('Resources/end_lat_lng.csv')
unique_lat_lng.to_csv('Resources/lat_lng.csv')